<div id="featured">
  <% @slider_images.each do |image| %>
    <div id="<%= image %>" class="reveal-modal">
      <a class="close-reveal-modal">&#215;</a>
      <img src="images/slider/big/<%= image %>" />
    </div>
    <a href="#" data-reveal-id="<%= image %>"><img src="images/slider/<%= image %>" alt="<%= image%>" /></a>
  <% end %>
</div>


<script type="text/javascript">
  $(window).load(function() {
      $('#featured').orbit();
      });
    </script>
